<div class="container">
  <app-hero-list></app-hero-list>
</div>

<h1>Reactive Forms</h1>
<div class="container">
  <app-hero-detail></app-hero-detail>
</div>

<div class="container">
  <app-hero-detail2></app-hero-detail2>
</div>


<div class="container">
  <app-hero-detail3></app-hero-detail3>
</div>


<div class="container">
  <app-hero-detail4></app-hero-detail4>
</div>


<div class="container">
  <app-hero-detail5></app-hero-detail5>
</div>

<div class="container">
  <app-hero-detail6></app-hero-detail6>
</div>

<div class="container">
  <app-hero-detail7></app-hero-detail7>
</div>